name: Robot Framework CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Check out the code from the repository
      - name: Checkout Repository
        uses: actions/checkout@v3


      # Step 2: Set up Python environment
      - name: Use secret
        env:
            MY_SECRET: ${{ secrets.CRED1 }}
        run: echo "Using the secret"


      # Step 2: Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.13.0  # You can change this to the Python version you're using

      # Step 3: Install dependencies

      - name: Install dependencies
        run: |
          pip install robotframework
          pip install robotframework-seleniumlibrary
          pip install -r requirement.txt

      # Set up Google Chrome
      - name: Install Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      # Download and set up ChromeDriver
      - name: Use Pre-installed ChromeDriver
        run: |
          echo "Using pre-installed ChromeDriver:"
          which chromedriver
          chromedriver --version

      # Step 5: Run Robot Framework tests
      - name: Run Robot Framework tests
        run: |
          robot -d results Tests/CRM.robot
          
          
      # Step 6: Upload robot framework report
      - name: Upload robot framework report
        uses: actions/upload-artifact@v3
        with:
          name: robot-reports
          path: reports
